/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	padding-bottom: 20px;
	background: #e41b23;
	background: -moz-radial-gradient(center, ellipse cover, #e41b23 0%, #96151A 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#e41b23), color-stop(100%,#96151A)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #e41b23 0%,#96151A 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #e41b23 0%,#96151A 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #e41b23 0%,#96151A 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #e41b23 0%,#96151A 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e41b23', endColorstr='#96151A',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
h1, h2, h3 {
	line-height: 20px;
}

.heading h1, .heading h2, .heading h3, h1.heading, h2.heading, h3.heading, .modal-header h3 {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
}

h3 { 
	font-size: 21.5px;
}

h3 small {
	font-size: 10px;
	float: left;
	position: relative;
	top: 2px;
}
#maincontainer {
	background-repeat: repeat-y;
	min-height: 100%;
}

.propertytitle {
	line-height: 75px;
	font-size: 20px;
	text-transform: uppercase;
	color: #ffffff
}

.main-content {
	background: none;
	padding-top: 80px;
	padding: 64px 30px 30px;	
}
.sidebar_hidden .main_content {
	margin: 0;
	border-left: none;
}

/* Widget */
.widget-container-holder{
	width: 100%;
    height: 430px;
    float: left;
    background: #000 url(../images/top_bkgd.jpg) repeat-x;
    margin-left: 0px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;	
}	
.col-lg-4 {
	padding-right: 0px;
}

.widget-label {
	color: #fff;
	border-bottom: 0px solid #dcdcdc;
	margin-bottom: 0px;
	padding: 10px;
}

.widget-chart {
	background-color: #000000;
	width: 95%;
	margin: 0px auto 0px;
	border: 0px solid #999999;
	margin-top: 50px;
	height: 285px;
	opacity: 1;
	position: relative;	
}

.widget-footing {
	background-color: #000;
	height: 15px;
}

.widget-timelabel {
	color: #fff;
	font-size: 9px;
	float: right;
	margin-top: 1px;
	margin-right: 10px;
}

.roundhigh {
	border-top: 1px solid #000000;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.roundlow {
border-bottom: 1px solid #000000;
-webkit-border-bottom-left-radius: 7px;
-webkit-border-bottom-right-radius: 7px;
-moz-border-radius-bottomleft: 7px;
-moz-border-radius-bottomright: 7px;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
}

.smalltitle {
	position:relative;
	top:18px;
	left:-10px;
	color:#ffffff;
}
.pull-left { 
	width: 100%; 
}

.modal-header .pull-left { 
	width: auto; 
}

/* Metric Ticker */
	.metric-ticker {
		background:#000;
		border:1px solid #000;
		border-radius: 7px;
	    width: 100%;
		margin:12px 15px 0;
		position: relative;
	}
	.metric-ticker_100 {
		background:#000;
		border:1px solid #000;
		border-radius: 7px;
	    width: 100%;
		margin:12px 15px 0;
		position: relative;
	}	
	.metric-ticker .widget {
		height: 40px;
		max-height: 40px;
		color: #fff;
		overflow: hidden;
	}
	.metric-ticker ul {display: none;}
	.metric-ticker h2 {
		position: relative;
		margin: 0;
		padding:0;
		font-size: 16px;
		line-height:42px;
		float: left;
		font-weight: normal;
		border-top-left-radius: 7px;
		border-bottom-left-radius: 7px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		transition: background 0.25s;
	}
	.metric-ticker h2 span {display: block; padding: 0 25px;}
	.metric-ticker li.metric-active h2 {color: #666;}
	.metric-ticker li h2.category-active {
		overflow: visible;
		white-space: normal;
		text-overflow: ellipsis;
		font-weight: bold;
		color: #fff;
	}
	.metric-ticker h2:before {
		position: absolute;
		content: "";
		display: block;
		float: left;
		width: 120px;
		height: 40px;
		left: 85px;
		background: #000;
		background: -moz-linear-gradient(left, transparent 0%, #000 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(100%, #000));
		background: -webkit-linear-gradient(left, transparent 0%, #000 100%);
		background: -o-linear-gradient(left, transparent 0%, #000 100%);
		background: -ms-linear-gradient(left, transparent 0%, #000 100%);
		background: linear-gradient(to right, transparent 0%, #000 100%);
	}
			.metric-ticker li.metric-active h2:before {background: none;}
	.metric-ticker li h2 + .arrow {
		width: 0;
		height: 0;
		display: block;
		float: left;
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		border-left: 20px solid transparent;
		transition: border-left-color 0.25s;
	}
.metric-ticker li h2.category-active + .arrow {border-left-color: #333;}
.metric-ticker li h2.category-active {background: #333;}
	.metric-ticker ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.metric-ticker li {
		position: relative;
		width: 12%;
		float: left;
		white-space: nowrap;
		overflow: hidden;
		line-height: 41px;
		color: #666;
	}
	.metric-ticker li.metric-active {width: 83%; color: #fff;}
	.metric-ticker .metric {
		margin-left: 20px;
		padding-left: 20px;
		border-left: 1px solid #444;
	}
.metric-ticker .metric.first-child {margin: 0; border: none;}
	.metric-ticker .controls {
		position: absolute;
		top:3px;
		right: 0;
		border-top-right-radius: 7px;
		padding: 0 20px;
		background: #000;
	}
		.metric-ticker .control {
			position: relative;
			font-size: 26px;
			line-height:30px;
			transition: opacity 0.25s;
		}
			.metric-ticker .control:first-child {margin-right: 0px;}
		.metric-ticker .control:hover {cursor: pointer; opacity: 0.6;}
		.metric-ticker .info-small {
			position: relative;
			top: 4px;
			left: 7px;
			width: 8px;
			float: none;
		}
	.metric-ticker .wow-change {
		position: relative;
		top: 3px;
		left: 4px;
		width: 18px;
		height: 16px;
		display: inline-block;
		background-image: url(../images/bootstrap/glyphicons-halflings-white.png);
		opacity: 0.8;
	}
	.metric-ticker .wow-change.positive {background-position: -287px -254px;}
	.metric-ticker .wow-change.negative {background-position: -310px -254px;}
	.presentation .metric-ticker 		{margin: 87px auto 0; width: 100%;}
	.presentation .metric-ticker .widget{width: 98%; margin: 0 auto;}
