<div id="latest_insights_viewer">
    <div id="latest_insights_content_holder" class="ui-draggable" style="margin: 0 0 0 0;">
        <a id="latest_insights_toggle_view">X</a>
        <strong>Latest Insight</strong>
        <p class="latest_insights_date">September 26, 2013</p>
        <p class="latest_insights_content">
            T-Mobile's Twitter conversation volume remained relatively consistent, with tweets about the company no longer carrying BlackBerrys trending in conversation.
        </p>
    </div>
</div>