<div id="latest_insights_viewer">

    <div id="latest_insights_nav_tabs">
        <a class="btn btn-inverse" id="latest_insights_nav_back">Back</a>
        <a class="btn btn-inverse" id="latest_insights_nav_next">Next</a>
    </div>

    <div id="latest_insights_change">
        <strong>W-O-W Change</strong>
        <p>3pts</p>
    </div>
    <div id="latest_insights_weekly">
        <strong>Weekly Total</strong>
        <p>31%</p>
    </div>
    <div id="latest_insights_content_holder" class="ui-draggable">
        <a id="latest_insights_toggle_view">X</a>
        <strong>Latest Insight</strong>
        <p class="latest_insights_date">September 26, 2013</p>
        <p class="latest_insights_content">
            T-Mobile's Twitter conversation volume remained relatively consistent, with tweets about the company no longer carrying BlackBerrys trending in conversation.
        </p>
    </div>
</div>