<div id="latest_insights_viewer">

    <div id="latest_insights_nav_tabs">
        <a class="btn btn-inverse" id="latest_insights_nav_back">Back</a>
        <a class="btn btn-inverse" id="latest_insights_nav_next">Next</a>
    </div>

    <div id="latest_insights_change">
        <strong>W-O-W Change</strong>
        <p></p>
    </div>
    <div id="latest_insights_weekly">
        <strong>Weekly Total</strong>
        <p></p>
    </div>
    <div id="latest_insights_content_holder" class="ui-draggable">
        <a id="latest_insights_toggle_view">X</a>
        <strong>Latest Insight</strong>
        <p id="latest_insights_date_div" class="latest_insights_date"></p>
        <p id="latest_insights_content_div" class="latest_insights_content">
        </p>
    </div>
</div>