<button class="btn dropdown-toggle btn-inverse" id="dropdownMenuBarChart" data-toggle="dropdown">Verizon <span class="caret"></span></button>
<ul id="menuBarChart" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuBarChart">

    <li><a onClick="ps_graphDefinitions.barChartReload(this.dataset.attr);" data-prop="verizon/wireless" data-attr="verizon" data-series="multitime">Verizon</a></li>
    <li><a onClick="ps_graphDefinitions.barChartReload(this.dataset.attr);" data-prop="verizon/wireless" data-attr="at_t" data-series="multitime">AT&amp;T</a></li>
    <li><a onClick="ps_graphDefinitions.barChartReload(this.dataset.attr);" data-prop="verizon/wireless" data-attr="sprint" data-series="multitime">Sprint</a></li>
    <li><a onClick="ps_graphDefinitions.barChartReload(this.dataset.attr);" data-prop="verizon/wireless" data-attr="t_mobile" data-series="multitime">T-Mobile</a></li>
    <li><a onClick="ps_graphDefinitions.barChartReload(this.dataset.attr);" data-prop="verizon/wireless" data-attr="us_cellular" data-series="multitime">US Cellular</a></li>

</ul>